body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

header {
    background-image: url('background.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section {
    padding: 50px 0;
    text-align: center;

}
/* Section content styles */
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .country, .temple, .beach {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    max-width: 300px;
    text-align: center;
  }
  
  .country img, .temple img, .beach img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5em;
  }
  
  .country h3, .temple h4, .beach h4 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .country p, .temple p, .beach p {
    font-size: 1em;
    color: #555;
  }
  
.main-content{
    background:url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.description {
    max-width: 600px;
    margin: 0 auto;
    color:#fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}
